<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imyme010101.restapi.repository.CartRepository">
	<insert id="add" parameterType="CartDTO">
		INSERT INTO cart VALUES (#{memberId}, #{itemIdx}, #{stock})
	</insert>

	<select id="findAll" parameterType="hashMap" resultType="CartDTO">
		SELECT * FROM member WHERE ${key} = #{val}
	</select>	

	<select id="findOne" parameterType="hashMap">
		SELECT ${key} FROM member WHERE ${key} = #{val}
	</select>	
</mapper>
