<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imyme010101.restapi.repository.MembersRepository">
	<select id="findById" resultType="MembersDTO">
		SELECT * FROM members WHERE id=#{username}
	</select>
</mapper>
